[package]
name = "lotusrust_back"
version = "0.1.0"
authors = []
edition = "2018"

[lib]
name = "lotusrust_back"
path = "src/lib.rs"
crate-type = ["cdylib"]

[dependencies]
rustler = "0.22.0"
cdrs = "2.3.3"
cdrs_helpers_derive = "0.4.0"
maplit = "1.0.2"


